extends layout

block content
  main
    .title
      h2 Send Message
    form(method="post")
      .form-group
        label(for="username") Your username
        input#username(
          type="text",
          name="username",
          minlength="3",
          maxlength="12",
          placeholder="hunter2",
          required
        )
      .form-group
        label(for="msg") Your Message
        textarea#msg(required, name="msg", cols="30", rows="10")
        button Send
